/* src/styles/Layout.css */

html, body, #root {
   height: 100%;
   margin: 0;
 }
 
 .app-wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
 }
 
 .main-content {
   flex: 1; /* ✅ ดัน footer ไปข้างล่าง */
 }
 