.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/depositphotos_168807632-stock-photo-soccer-field-top-view.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-card {
  background: rgba(255, 255, 255, 0.9); /* โปร่งแสงนิดหน่อย */
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #222;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-btn {
  background-color: #16a34a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #15803d;
}

.login-options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-options a {
  color: #2563eb;
  text-decoration: none;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.register-link {
  text-align: center;
  margin-top: 16px;
}
